<section class="skills-section py-3">
<h3 class="text-uppercase resume-section-heading mb-4">Skills</h3>
<div class="item">
<h4 class="item-title">Technical</h4>
<ul class="list-unstyled resume-skills-list">
    <li class="mb-2">Python</li>
    <li>
        <li class="mb-2">JavaScript/Vue</li>
    </li>
        <li class="mb-2">PostgreSQL/MySQL</li>
        <li class="mb-2">Object-oriented design</li>
        <li class="mb-2">Design and implement database structures</li>
    </ul>
</div><!--//item-->
<div class="item">
    <h4 class="item-title">Professional</h4>
    <ul class="list-unstyled resume-skills-list">
        <li class="mb-2">Effective communication</li>
        <li class="mb-2">Team player</li><li>
            </li><li class="mb-2">Strong problem solver</li>
            <li>Good time management</li>
        </ul>
    </div><!--//item-->
</section><!--//skills-section-->
<section class="education-section py-3">
    <h3 class="text-uppercase resume-section-heading mb-4">Education</h3>
    <ul class="list-unstyled resume-education-list">
        <li class="mb-3">
            <div class="resume-degree font-weight-bold">Computer Programming</div>
            <div class="resume-degree-org text-muted">Anadolu College University</div>
            <div class="resume-degree-time text-muted">2023 - </div>
        </li>
        <li>
            <div class="resume-degree font-weight-bold">Electronics/automation tech</div>
            <div class="resume-degree-org text-muted">Uludağ College University</div>
            <div class="resume-degree-time text-muted">2021 - 2023</div>
        </li>
    </ul>
</section><!--//education-section-->
<!--section class="education-section py-3">
    <h3 class="text-uppercase resume-section-heading mb-4">Awards</h3>
    <ul class="list-unstyled resume-awards-list">
        <li class="mb-3">
            <div class="font-weight-bold">Award Lorem Ipsum</div>
            <div class="text-muted">Microsoft lorem ipsum (2019)</div>
        </li>
        <li>
            <div class="font-weight-bold">Award Donec Sodales</div>
            <div class="text-muted">Oracle Aenean (2017)</div>
        </li>
    </ul>
</section--><!--//education-section-->
<section class="skills-section py-3">
    <h3 class="text-uppercase resume-section-heading mb-4">Languages</h3>
    <ul class="list-unstyled resume-lang-list">
        <li class="mb-2">Turkish <span class="text-muted">(Native)</span></li>
        <li>English <span class="text-muted">(A2)</span></li>
    </ul>
</section><!--//certificates-section-->
<section class="skills-section py-3">
    <h3 class="text-uppercase resume-section-heading mb-4">Interests</h3>
    <ul class="list-unstyled resume-interests-list mb-0">
        <li class="mb-2">Video editing</li>
        <li class="mb-2">Aviation (Military) F22♥</li>
        <li class="mb-2">Photography</li>
        <li>Amateur digital drawing</li>
    </ul>
</section><!--//certificates-section-->
